body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
/*header*/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

/*Brand Name*/
.navbar-brand {
	margin-top: 20px;
}
.navbar-brand  h1 { /* Restuarant Name */
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#collapsable-nav { /* For removing a border that was being applied due to bootstrap css */
	border: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a { /* for the links */
	color: #951C49;
	text-align: center;
}
#nav-list a:hover { /* will change to this color, when hovered */
	background: #e7e7e7; 
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /* For the toggle dropdown menu */
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px
}
/* End Header */

/* Home Page */
section {
	background-color: rgb(64,64,64);
	border: 1px solid rgb(204,204,204);
	box-shadow: 1px 1px 1px rgb(204,204,204);
	margin-bottom: 30px;
}
#main-content h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
section h3 {
	text-align: center;
	margin-top: 10px;
}
section p {
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
}
section p a {
	text-decoration: none;
	margin-top: 20px;
	color: #ff0;
}
section p a:hover {
	text-decoration: none;
	color: #fff;
	background-color: rgb(204,204,204);
}

/*****************Large Deviced Only**************/
@media (min-width: 1200px) {

}

/*****************Medium Devices Only**************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*****************Small Devices Only***************/
@media (min-width: 768px) and (max-width: 991px) {

}

/*******************Extra Small Devices only*************/
@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 { /* Restuarant Name */
		padding-top: 10px;
		font-size: 5.5vw; /* 1vw=1% of viewport width* (responisve font size)*/
	}
	#nav-list a { /* Collapsed menu glyph */
		font-size: 1.2em;
	}
	#nav-list a span {
		padding-right: 5px;
		font-size: 1em;
	}

}